/* FIXES */

body {
  margin: 0;
  font-family: 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #99c997;
  color: hsl(0, 0%, 100%);
}
code {
  font-family: 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.container-fluid {
  padding: 1.5rem;
  text-align: center;
}
.navbar {
  padding: 0.5rem;
}

/* DEVELOPERS ADD CUSTOM CSS BELOW */

.custom-class {
  color: rgb(255, 0, 0);
}
